# Git files
.git
.gitignore
.gitattributes

# IDE files
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Build files
target/
!target/*.jar

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Logs
*.log

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# Files that might contain sensitive information
**/application-*.properties
**/application-*.yml
